<section>
    <div class="container">
        <div class="row">

            <div class="col-md-5">
                <h2 class="textcenter">Edit Product</h2>
                <form action="/admin/edit-product/{{product._id}}" method="POST" enctype="multipart/form-data">

                    <label for="">Name</label>
                    <input type="text" name="name" class="form-control" value="{{product.name}}">

                    <label for="">Category</label>
                    <input type="text" name="category" class="form-control" value="{{product.category}}">

                    <label for="">Description</label>
                    <input type="text" name="description" class="form-control" value="{{product.description}}">

                    <label for="">Image</label>
                    <img src="/product_images/{{product._id}}{{product.imageExtention}}" alt="" style="width: 100px;height:auto;">
                    <input type="file" name="image" class="form-control" >

                    <button type="submit" class="btn btn-success mt-4" >Submit</button>

                </form>
            </div>


        </div>
    </div>
</section>